<!DOCTYPE HTML>
<html>
  <head>
    <title> NICE </title>
  </head>
  
  <body>
    <b>Hi {{name}}!! Thanks for your input. We're going to run some tests now.<br>
      <br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>testing
<br>
<br>
<br>
<br>thanks for your patience, {{name}}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>please scroll down
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>scroll down more .... . 
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<font size="60" color="red"> According to our analysis, {{name}} is the biggest loser ever!! </font>

  </body>
</html>
